.justify {
    text-align: justify;
    direction: rtl;
}

.rtl-text{
    text-align: right;
}

.blog-image {
    width: 100%;
    height: 100%;
}

.search-blog-input {
    border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
}