.justify {
    text-align: justify;
    direction: rtl;
}

.rtl-text{
    text-align: right;
}

.blog-image {
    width: 100%;
    height: 100%;
}

.search-blog-input {
    border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
}

.keywords {
    margin-top: 20px;
    padding: 10px
}

.keywords a {
    padding: 2px 5px;
    background-color: #f2f2f2;
    line-height: 18px;
    font-size: 14px;
    color: #767676;
    margin: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.keywords a:hover {
    background-color: #dfdfdf
}


#overlay img {
    display: none;
}
