
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <partial name="_MetaTags" />

    <!-- App Favicon -->
    <link rel="shortcut icon" href="/logo.png">

    <!-- App title -->
    <title>@ViewData["Title"]</title>

    <!-- App CSS -->
    <link href="/Admin/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="/Admin/css/core.css" rel="stylesheet" type="text/css" />
    <link href="/Admin/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/Admin/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/Admin/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="/Admin/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="/Admin/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/Admin/css/custom-style.css" rel="stylesheet">
    <link href="/Admin/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="/Admin/css/AdminLTE.css" rel="stylesheet" type="text/css" />

    <!-- Plugins css-->
    <link href="/Admin/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="/Admin/js/modernizr.min.js"></script>
    @await RenderSectionAsync("Head", false)
</head>


<body class="fixed-left">
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="" class="logo"><span>پنل <span>ادمین</span></span><i class="zmdi zmdi-layers"></i></a>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">

                    <!-- Page title -->
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <button class="button-menu-mobile open-left">
                                <i class="zmdi zmdi-menu"></i>
                            </button>
                        </li>
                        <li>
                            <h4 class="page-title">@ViewData["Title"]</h4>
                        </li>
                    </ul>

                    <!-- Right(Notification) -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <!-- Notification -->
                            <div class="notification-box">
                                <ul class="list-inline m-b-0">
                                    <li>
                                        <a href="javascript:void(0);" class="right-bar-toggle">
                                            <i class="zmdi zmdi-notifications-none"></i>
                                        </a>
                                        <div class="noti-dot">
                                            <span class="dot"></span>
                                            <span class="pulse"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Notification bar -->
                        </li>
                    </ul>

                </div><!-- end container -->
            </div><!-- end navbar -->
        </div>
        <!-- Top Bar End -->
        <!-- ========== Sidebar Start ========== -->
        <partial name="_Sidebar" />
        <!-- Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">

                @RenderBody()

                <footer class="footer">
                    Developed By Masoud Khodadadi
                </footer>

            </div>
            <!-- End content-page -->
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
            <!-- Right Sidebar -->
            <partial name="_Notification" />
            <!-- /Right-bar -->

        </div>
        <!-- END wrapper -->

        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="/Admin/js/jquery.min.js"></script>
        <script src="/Admin/js/bootstrap-rtl.min.js"></script>
        <script src="/Admin/js/detect.js"></script>
        <script src="/Admin/js/fastclick.js"></script>
        <script src="/Admin/js/jquery.slimscroll.js"></script>
        <script src="/Admin/js/jquery.blockUI.js"></script>
        <script src="/Admin/js/waves.js"></script>
        <script src="/Admin/js/jquery.nicescroll.js"></script>
        <script src="/Admin/js/jquery.scrollTo.min.js"></script>

        <!-- App js -->
        <script src="/Admin/js/jquery.core.js"></script>
        <script src="/Admin/js/jquery.app.js"></script>

        <!-- Bootstrap tags input -->
        <script src="/Admin/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>

        <!-- jQuery Validate -->
        <script src="/lib/jquery-validate/jquery.validate.min.js"></script>
        <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        
        @await RenderSectionAsync("Scripts", false)

        <partial name="_Toaster" />
    </div>
</body>
</html>