
@inject AppDbContext Db

<div class="side-bar right-bar">
    <a href="javascript:void(0);" class="right-bar-toggle">
        <i class="zmdi zmdi-close-circle-o"></i>
    </a>
    <h4 class="">اعلانات</h4>
    <div class="notification-list nicescroll">
        <ul class="list-group list-no-border user-list">
            @{
                if (Db.ContactForms.Any())
                {
                    foreach (var item in Db.ContactForms)
                    {
                        <li class="list-group-item">
                            <a asp-area="Admin" asp-controller="Message" asp-action="Index" class="user-list-item">
                                <div class="icon bg-pink">
                                    <i class="zmdi zmdi-comment"></i>
                                </div>
                                <div class="user-desc">
                                    <span class="name">پیام جدید</span>
                                    <span class="desc">بازخوردی از @item.FirstName @item.LastName</span>
                                    <span class="time">@item.DateTime.ElapsedTimeNotification()</span>
                                </div>
                            </a>
                        </li>
                    }
                }
                else
                {
                    <div class="text-center">
                        هیچ اعلانی وجود ندارد
                    </div>
                }
            }


        </ul>
    </div>
</div>