<div class="side-bar right-bar">
    <a href="javascript:void(0);" class="right-bar-toggle">
        <i class="zmdi zmdi-close-circle-o"></i>
    </a>
    <h4 class="">اعلانات</h4>
    <div class="notification-list nicescroll">
        <ul class="list-group list-no-border user-list">
            <li class="list-group-item">
                <a href="#" class="user-list-item">
                    <div class="avatar">
                        <img src="/Admin/images/users/avatar-2.jpg" alt="">
                    </div>
                    <div class="user-desc">
                        <span class="name">کاربر شماره یک</span>
                        <span class="desc">متن کاربر شماره یک</span>
                        <span class="time">2 ساعت قبل</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>