<footer class="mh-footer" id="mh-contact">
    <div class="map-image image-bg">
        <div class="container">
            <div class="row section-separator">
                <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                    <h3>ارتباط با من</h3>
                </div>
                <div class="col-sm-12 mh-footer-address">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <div class="each-icon">
                                    <i class="fa fa-location-arrow"></i>
                                </div>
                                <div class="each-info">
                                    <h4>آدرس</h4>
                                    <address>
                                        آذربایجان غربی، ارومیه، مدرس<br>
                                    </address>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                <div class="each-icon">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="each-info">
                                    <h4>آدرس الکترونیکی</h4>
                                    <a href="mailto:masoud.xpress@gmail.com">masoud.xpress@gmail.com</a><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                <div class="each-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="each-info">
                                    <h4>شماره تماس</h4>
                                    <a href="callto:+989905492104">989905492104+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                    <form id="contactForm" class="single-form quate-form wow fadeInUp" data-toggle="validator">
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <input name="name" class="contact-name form-control" id="name" type="text" placeholder="نام" reqmicroservicered>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input name="name" class="contact-email form-control" id="L_name" type="text" placeholder="نام خانوادگی" reqmicroservicered>
                            </div>
                            <div class="col-sm-12">
                                <input name="name" class="contact-subject form-control" id="email" type="email" placeholder="آدرس ایمیل" reqmicroservicered>
                            </div>
                            <div class="col-sm-12">
                                <textarea class="contact-message" id="message" rows="6" placeholder="پیغام" reqmicroservicered></textarea>
                            </div>
                            <!-- Subject Button -->
                            <div class="btn-form col-sm-12">
                                <button type="submit" class="btn btn-fill btn-block" id="form-submit">ارسال</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                    <div class="mh-map">
                        <div id="mh-map" class="shadow-1"></div>
                    </div>
                </div>
                <div class="col-sm-12 mh-copyright wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-right text-xs-center">
                                <p>تمامی حقوق این وبسایت متعلق به مسعود خدادادی می باشد @@ ۲۰۲۰</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>