@model ForgetPasswordTemplateViewModel
@{
    Layout = null;
}

<div style="direction: rtl; padding: 20px; justify-content: center">
    <h2>@Model.Name عزیز !</h2>
    <p>شما اخیرا درخواست بازیابی کلمه عبور برای حساب کاربری خود در سایت شخصی خود کرده اید! برای بازیابی کلمه عبور خود روی لینک زیر کلیک کنید</p>
    <p>
        <a href="@Model.Url">بازیابی کلمه عبور</a>
    </p>
</div>