<header class="black-bg mh-header mh-fixed-nav nav-scroll mh-xs-mobile-nav" id="mh-header">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg mh-nav nav-btn">
                <a class="navbar-brand" href="#">

                </a>
                <button class="navbar-toggler justify-left-icon" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#mh-home">خانه</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#mh-about">درباره من</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#mh-skills">مهارت ها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#mh-experience">تجربه ها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#mh-portfolio">نمونه کار ها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#mh-contact">ارتباط با من</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>