@model int

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- App Favicon -->
    <link rel="shortcut icon" type="image/ico" href="/logo.png" />
    <title>خطا</title>
    <link type="text/css" href="/error/css/bootstrap-rtl.css" rel="stylesheet" />
    <link type="text/css" href="/error/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="error">
    <div class="container-floud">
        <div class="col-12 ground-color text-center">
            <div class="container-error-404">
                <div class="clip"><div class="shadow"><span class="digit firstDigit"></span></div></div>
                <div class="clip"><div class="shadow"><span class="digit secondDigit"></span></div></div>
                <div class="clip"><div class="shadow"><span class="digit thirdDigit"></span></div></div>
            </div>
            <br>
            <br>
            <h2 class="h1">@ViewBag.ErrorMessage</h2>
            <div>
                <a class="btn btn-primary" asp-action="Index" asp-controller="Home" asp-area="">بازگشت به صفحه نخست</a>
                <a class="btn btn-primary" onclick="goBack()">بازگشت به عقب</a>
            </div>
        </div>
    </div>
</div>
@if (Model == 404)
{
    <script src="/error/js/scripts-not-found.js"></script>
}
else if (Model == 500)
{
    <script src="/error/js/scripts-server-down.js"></script>
}

<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>