@model ChangeProfileViewModel
@{
    ViewData["Title"] = "ویرایش پروفایل";
    Layout = "_MainLayout";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">ویرایش پروفایل</h4>
                <form method="post" asp-action="EditProfile">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CurrentPassword" class="control-label"></label>
                                <input asp-for="CurrentPassword" class="form-control">
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="RepeatPassword" class="control-label"></label>
                                <input asp-for="RepeatPassword" class="form-control">
                                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-info">ذخیره</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>