@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "فراموشی رمز عبور";
    Layout = "_AccountLayout";
}


<div class="m-t-40 card-box">
    <div class="text-center">
        <h4 class="text-uppercase font-bold m-b-0">بازیابی رمز عبور</h4>
    </div>
    <div class="panel-body">
        <form class="form-horizontal m-t-20" asp-action="ForgetPassword" method="post">

            <div class="form-group ">
                <div class="col-xs-12">
                    <input asp-for="Email" class="form-control" type="email" placeholder="آدرس ایمیل">
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="form-group text-center m-t-30">
                <div class="col-xs-12">
                    <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">بازیابی رمز عبور</button>
                </div>
            </div>

            <div class="form-group m-t-30 m-b-0">
                <div class="col-sm-12">
                    <a asp-action="Login" class="text-muted">
                        بازگشت به صفحه ورود
                    </a>
                </div>
            </div>
        </form>

    </div>
</div>

