@model ResetPasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "_AccountLayout";
}

<div class="m-t-40 card-box">
    <div class="text-center">
        <h4 class="text-uppercase font-bold m-b-0">تغییر کلمه عبور</h4>
    </div>
    <div class="panel-body">
        <form class="form-horizontal m-t-20" asp-action="ResetPassword" method="post">

            <input asp-for="ResetCode" type="hidden" />

            <div class="form-group ">
                <div class="col-xs-12">
                    <input asp-for="Password" class="form-control" type="password" placeholder="کلمه عبور جدید">
                    <span asp-validation-for="Password"></span>
                </div>
            </div>

            <div class="form-group ">
                <div class="col-xs-12">
                    <input asp-for="RepeatPassword" class="form-control" type="password" placeholder="تکرار کلمه عبور جدید">
                    <span asp-validation-for="RepeatPassword"></span>
                </div>
            </div>

            <div class="form-group text-center m-t-30">
                <div class="col-xs-12">
                    <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">ثبت</button>
                </div>
            </div>

            <div class="form-group m-t-30 m-b-0">
                <div class="col-sm-12">
                    <a asp-action="Login" class="text-muted">
                        بازگشت به صفحه ورود
                    </a>
                </div>
            </div>
        </form>

    </div>
</div>


